@{
    ViewData["Title"] = "Create";

}

<div class="container-fluid my-5 mx-5">
    <h2>Slider title</h2>
    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Add new text">
        </div>

        <a class="btn btn-primary" asp-controller="SliderDetail" asp-action="Index">Back</a>
         <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>